html(lang="en")
    include templates/head.pug
    +headpage("Error 404 - Page Not Found", "/style_login.css")
    body 
        main.auth-page
            section.auth-card
                .auth-header
                    h1 Error 404
                    p Can't find the page you're looking for.

                p.footer
                    a(href="/user/login") Go to Login Page