doctype html
html(lang="en")
    include templates/head.pug
    include templates/formButton.pug
    +headpage("Create Chatroom", "/style_login.css")
    body
        main.auth-page
            section.auth-card
                .auth-header
                    h1 Create Chatroom
                    p Create a new chatroom to start chatting

                form.auth-form(action="/chat/create", method="post")
                    input(type="text", name="name", placeholder="Chatroom Name", required)
                    input(type="number", name="participant", placeholder="User ID", required)

                    +form-button("Create")

                a(href="/")
                    button(type="button") 
                        span.text Return