html(lang="en")
    include templates/head.pug
    +headpage('No Access', '/style_login.css')
    body 
        main.auth-page
            section.auth-card
                .auth-header
                    h1= error

                p.footer
                    a(href="/user/login") Go to Login Page