doctype html
html(lang="en")
    include head.pug
    +headpage('Home Page', '/style_home.css')
    body
        include chatCard.pug

        main.home-page
            section.home-card
                .home-header
                    h1 User: #{user.firstName} #{user.lastName}
                    p @#{user.username}

                if user.level === "3"
                    p.role-text You are an admin user.
                else if user.level === "2"
                    p.role-text You are a moderator user.
                else
                    p.role-text You are a regular user.

                .home-actions
                    if user.level !== "1"
                        a(href="/chat/create")
                            button.secondary-btn(type="button")
                                strong Create Chatroom
                    if user.level === "3"
                        a(href="/admin")
                            button.secondary-btn(type="button")
                                strong Manage
                    a(href="/user/logout")
                        button.secondary-btn(type="button")
                            strong Log out

                .chat-section
                    h2 Your Chatrooms

                    if user.chats && user.chats.length > 0
                            each chat in user.chats
                                +chatCard(chat)
                    else
                        .empty-state
                            p You are not part of any chatrooms yet.