html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style_login.css")
        title Home Page 
    body
        h1 Welcome to the Home Page, #{user.firstName} #{user.lastName}!
        p Your username is: #{user.username}
        p Your user level is: #{user.level}
        a(href="/user/logout") Logout