doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style_login.css")
        title Register
    body
        #signin
            form(action="/user/login", method="post") 
                input(type="text", name="username", placeholder="Username")
                input(type="password", name="password", placeholder="Password")
                button(type="submit")
                    strong Login

            p
                | Don't have an account? 
                a(href="/user/register") Sign up here!