doctype html
html
  head
    title Register
  body
    h1 Opret ny bruger
    form(action="/users/register", method="POST")
      label(for="username") Brugernavn:
      input(type="text", name="username", required)
      br
      label(for="password") Password:
      input(type="password", name="password", required)
      br
      label(for="repeat") Gentag password:
      input(type="password", name="repeat", required)
      br
      label(for="first_name") Fornavn:
      input(type="text", name="first_name", required)
      br
      label(for="last_name") Efternavn:
      input(type="text", name="last_name", required)
      br
      label(for="level") Niveau:
      select(name="level")
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      br
      button(type="submit") Opret bruger