doctype html
html(lang="en")
    include templates/head.pug
    include templates/formButton.pug
    include templates/dropdown.pug
    +headpage('Register Page', '/style_login.css')
    body
        main.auth-page
            section.auth-card
                .auth-header
                    h1 Create account
                    p Join and get started in a few seconds

                form.auth-form(action="/user/register", method="post")
                    input(type="text", name="username", placeholder="Username", required)
                    input(type="text", name="first_name", placeholder="First name", required)
                    input(type="text", name="last_name", placeholder="Last name", required)
                    input(type="password", name="password", placeholder="Password", required)
                    input(type="password", name="repeat", placeholder="Repeat Password", required)

                    +dropdown()

                    hr.separator
                    +form-button("Create Account")

                    p.footer
                        | Already have an account?
                        a(href="/user/login") Sign in here