#register
    form(action="/register/signup", method="post") 
        input(type="text", name="username", placeholder="Username")
        input(type="text", name="first_name", placeholder="First name")
        input(type="text", name="last_name", placeholder="Last name")
        input(type="password", name="password", placeholder="Password")
        input(type="password", name="repeat", placeholder="Repeat Password")
        button(type="submit")
            strong Create User