doctype html
html(lang="en")
    include templates/head.pug
    include templates/formButton.pug
    include templates/dropdown.pug
    +headpage("Change Role", "/style_login.css")
    body
        main.auth-page
            section.auth-card
                .auth-header
                    h1 Change Role
                    p Change the role of a user

                form.auth-form(
                    action="/user/update",
                    method="post",
                    onsubmit="return confirm('Are you sure you want to change this user role?');"
                )
                    input(type="hidden", name="id", value=userId)

                    +dropdown()

                    +form-button("Change Role")

                a(href="/")
                    button(type="button")  
                        span.text Return