html(lang="en")
    include head.pug
    +headpage('Success', '/style_login.css')
    body 
        main.auth-page
            section.auth-card
                .auth-header
                    h1 User Created
                    p Your account has been created successfully!

                p.footer
                    a(href="/user/login") Go to Login Page