mixin chatMessage(message, currentUserId)
    .message-card
        .message-content
            .message-header
                span.message-user= message.owner

        .message-main
            p.message-text= message.message

            form(method="POST", action=`/messages/delete/${message.id}`)
                button.delete-btn(type="submit") Delete