mixin chatMessage(message, currentUserId, userLevel)
    .message-card
        .message-content
            .message-header
                span.message-user= message.username

        .message-main
            p.message-text= message.message

        
            if Number(userLevel) === 3 || (Number(userLevel) === 2 && Number(message.owner) === Number(currentUserId))
                form(method="POST", action=`/messages/${message.chatID}/delete/${message.id}`)
                    button.delete-btn(type="submit") Delete