mixin dropdown()
    select.dropdown(name="level", required)
        option(value="0") Select new role
        option(value="1") User
        option(value="2") Moderator
        option(value="3") Admin